body{
    overflow-x:hidden;
}
.content-section{
    display: none;
    
} 
#sidebar {
    width: 20%;
    margin-left: 0;
    transition: margin-left 0.3s ease; /* Membuat efek transisi */
}

#sidebar.collapsed {
    margin-left: -16.5%; /* Menggeser sidebar ke kiri untuk menyembunyikannya */
}
#mainPage {
    transition: margin-left 0.3s ease, width 0.3s ease;
    margin-left: 0%; /* Sesuaikan posisi saat sidebar terlihat */
    width: 80%; /* Lebar utama ketika sidebar terlihat */
    
}

#sidebar.collapsed + #mainPage {
    margin-left: -15%; /* Memindahkan mainPage ke kiri ketika sidebar ditutup */
    width: 100%; /* Memperluas mainPage ketika sidebar disembunyikan */
}
.bgBack{
    width:115%; 
    height:45%;
}

.potContent {
    transition: width 0.3s ease;
    width: 100%; /* Lebar default saat sidebar terlihat */
}

.potContent.expanded {
    width: 120%; /* Lebar penuh saat sidebar ditutup */
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    #sidebar {
        width: 60%; /* Sidebar lebih lebar pada layar kecil */
    }

    #sidebar.collapsed {
        margin-left: -60%; /* Geser lebih banyak untuk menyembunyikan sidebar */
    }
}
